
<section class="w-full max-w-6/10 mx-auto mt-12">
    <div class="flex items-center justify-between mb-4">
        <h1 class="text-lg font-normal">Task manager</h1>
        <button (click)="createTask()" class="bg-black text-md hover:bg-blue-700 text-white font-normal py-1 px-4 rounded-md cursor-pointer">
            Create task
        </button>
    </div>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-6 gap-x-4">
      @for (task of tasks; track task.id) {
        <div class="w-full">
          <app-task-item [task]="task"></app-task-item>
        </div>
      }
    </div>
  </section>